/*FONTE*/
@font-face{
    font-family: Arkhip;
    src: url(../SRC/Arkhip/TTF/Arkhip-Regular.ttf);
}

/*CORPO DO HTML*/
.body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #2b0f3d, #770d0d);
    font-family: Arkhip;
}

/******************NAVBAR*******************/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arkhip;
 }
 
 nav{
    background-image: linear-gradient(to right, #ffdbc5, #ffd7be);
    height: 65px;
    width: 100%;
 }
    /*BRAND DA MARCA*/
    .logo{
        padding: 0;
        margin-left: 200px;
        margin-top: 2px;
        height: 85px;
        width: 170px;
    }

/*LISTA DOS BOTÕES DO NAVBAR (RESPONSIVO)*/
 nav ul{
     float: right;
     margin-right: 20px;
 }  
 nav ul li{
     display: inline-block;
     line-height: 65px;
     margin: 0 5px;
 }

 /*BOTÕES DE RECEITA*/
 nav ul li a{
     color: #900d0d;
     font-size: 12px;
     padding: 5px 15x;
     border-radius: 5px;
     text-decoration: none;
     outline: none;
     text-transform: uppercase;
 }
 a.active, a:hover{
     color: #cf1b1b;
     transition: .4s;
     text-decoration: none;
     outline: none;
 }

 /*DISPLAY RESPONSIVO*/
 .checkbtn{
      font-size: 30px;
      color: #900d0d;
      float: right;
      line-height: 65px;
      margin-right: 40px;
      cursor: pointer;
      /*display :none; */
 }
 #check{
      display: none;
 }

 /************************INDEX*************************/
 
 /*CAROUSEL*/
.carousel{
    margin: 0%;
    margin-top: 50px;
    padding: 0%;
    display: flex;
    align-items: baseline;
    width: 100%;
}

/*TÍTULO - CATEGORIA*/
.tituloIndex{
    font-size: 50px;
    color: #900d0d;
    font-family: Arkhip;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

/*LINHA - SEPARADOR HORIZONTAL*/
.hr {
    margin: 40px 0;
}
.hr3 {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, transparent, rgb(177, 177, 177), transparent);  
    margin-bottom: 50px;
}

/**********CARDS DAS CATEGORIAS**********/
.todosCards{
    margin-left: 3%;
    margin-right: auto;
}

.card{
    overflow: hidden;
}

/*IMAGEM DO PRODUTO - CARDS*/
.img{
    position: static;
    box-shadow: inset;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    opacity: 0.5;
}

/***CORPO DOS CARDS - TÍTULOS E BOTÕES***/
.card-body{
    position: relative;
}

.card-body>h5{
    font-size: 18px;
}

/*TÍTULO DOS PRODUTOS cards*/
.tituloCategoria{
    position: static;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    margin-top: 15px;
    color: #423144;
    text-decoration: none;
    outline: none;
}

 /*BOTÃO COMPRAR*/
#verReceitas{
    position: absolute;
    margin-left: auto;
    margin-right: auto; 
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #900d0d;
    background-color: #fff;
    width: 150px;
    font-size: 15px;
    border: 2px solid #900d0d;
}
#verReceitas:hover{
    background-color: #900d0d;
    color: #fff;
    border: 2px solid #900d0d;
}
 
 /******************CADASTRO & LOGIN******************/
/*QUADRADO PRINCIPAL*/
.div-principal{
    width: 800px;
    height: 400px;
    position: relative;
    margin-left: 20%;
    margin-top: 8%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 500px 2px rgba(73, 43, 43, 0.2), 0 0 100px 10px rgba(0, 0, 0, 0.19);
}

/*BRAND DA EMPRESA*/
.imagem-logo{
    position: absolute;
    padding-right: 0px;
    display: block;
}
#img-logo{
    width: 400px;
    height: 400px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
}

/*FORMULÁRIO DE CADASTRO*/
.form-container{
    position: absolute;
    padding-left: 0px;
    margin-left: 480px;
    margin-top: 20px;
}
/*INPUTS*/
.inputs{
    margin-top: 25px;
    padding: 10px;
    width: 250px;
    font-size: small;
    text-align: left;
    border: none;
    outline: 0;
    border-bottom: 1.5px solid #423144;
    background: none;
    font-size: 12px;
    color: #423144;
}
.input-login{
    margin-top: 100px;
}

/*BOTÃO DE CADASTRO*/
.btns{
    margin-top: 40px;
    margin-left: 65px;
    border: 1.5px solid #423144;
    background: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
    color: #423144;
}
.btns:hover{
    color: aliceblue;
    background-color: #423144;
}
.btn-login{
    margin-left: 80px;
    font-size: 12px;
}

/*BOTÃO DE RECUPERAR SENHA*/
.btn-recuperar{
    margin-top: 60px;
    margin-left: 57px;
    border: none;
    background: none;
    font-size: 12px;
    color: #423144;
}
.btn-recuperar:hover{
    color: #796f7a;
}
/*ALERTA*/
.msg{
    position: fixed;
    display: none;
    margin-top: 5px;
}

/***************************RECEITAS*****************************/
h1{
    margin-top: 100px;
    margin-left: 10%;
}

/***********************FOOTER*********************/
.footer {
    width: 100%;
    height: 25px;
    align-items: center;
    text-align: center;
    margin: 0;
    left: 0;
    bottom: 0;
    position: static;
    font-size: 12px;
    color: rgb(107, 107, 107);
}
/*FOOTER DAS TELAS DE CADASTRO E LOGIN*/
/*REAJUSTADO PARA FICAR NA PARTE INFERIOR DA PÁGINA*/
.footerCadastro{
    position: fixed;
}
    